<div class="main">
 
  <div class="the-wall" *ngIf="!totalAmounts; else pie">
    <ngx-spinner bdColor="none" size="medium" color="#000" [fullScreen]="false" type="square-jelly-box">
    </ngx-spinner>
  </div>
  <ng-template #pie>
    <div class="charts-contain">
        <div class="main-title">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ dashboardYear }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <h6 class="dropdown-header">Year</h6>
                <a class="dropdown-item" (click)='changeYear(2018)'>2018</a>
                <a class="dropdown-item" (click)='changeYear(2019)'>2019</a>
                <a class="dropdown-item" (click)='changeYear(2020)'>2020</a>
              </div>
            </div>
          </div>
      <div class="charts-item">
        <div class="data-chart" style="background: rgb(130, 150, 240);">
          <div class="title-box">
            <p>Amount</p>
            <i class="fas fa-coins"></i>
          </div>
          <hr>
          <span>${{ totalAmounts | number: '1.0-0'  }}</span>
        </div>
        <div class="data-chart" style="background: rgb(243, 193, 117)">
          <div class="title-box">
            <p>Growth</p>
            <i class="fas fa-chart-line"></i>
          </div>
          <hr>
          <span>{{ percentageOfGrowth }}%</span>
        </div>
        <div class="str-chart">
          <h2>Ministries</h2>
          <canvas baseChart [data]="amounts" [labels]="offices" [chartType]="pieChartType" [options]="pieChartOptions"
            [plugins]="pieChartPlugins" [colors]="chartColors" [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </ng-template>
</div>