.main {
  display: flex;
  flex-direction: column;
  width: 86%;
  right: 0;
  position: absolute;
  height: 650px;

  .form-wraper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 6em;
    padding: 1em;
    form {
      width: 30em;
      padding: 2em;
      span {
        color: #dc3545;
      }
      select.ng-touched.ng-invalid,
      input.ng-touched.ng-invalid {
        border: 1px solid #dc3545;
      }
      select.ng-touched.ng-valid,
      input.ng-touched.ng-valid {
        border: 1px solid rgba(0, 128, 0, 0.5);
      }
    }
  }
  .modal-footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    button{
      padding: 0;
    }
  }
}
