.main {
  display: flex;
  flex-direction: column;
  width: 86%;
  right: 0;
  position: absolute;
  height: 650px;
  .users-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fff;
    box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 6em;
    padding: 7em;

    .users-box-item {
      display: flex;
      flex-direction: column;
      max-height: 562px;
      padding: 4em;
      width: 50%;
      span {
        font-size: 1.1em;
      }
    }
    .users-box-air {
      padding: 4em;
      span {
        cursor: pointer;
        .numOfUserCont {
          font-weight: bold;
          color: #dc3545;
          font-size: 1.1em;
        }
      }
    }
  }
}
