<div class="main">
    <div class="users-box">
        <div class="users-box-item users-box-air">
            <span (click)='goToAdd("office")'>
                <span class="numOfUserCont">{{ authService.numberOfOffices ? authService.numberOfOffices : 0 }}</span>
                Ministries
            </span>
            <span (click)='goToAdd("expense")'>
                <span class="numOfUserCont">{{ authService.numberOfExpenses ? authService.numberOfExpenses : 0 }}</span>
                Expenses
            </span>
        </div>
        <h6 class="text-muted">Thank you for your contribution {{authService.activeUser.name}}.</h6>
    </div>
</div>