<div class="users-box" *ngIf='authService.isLoggedIn()'>

    <div class="user-details-container">
        <span>Hello {{ authService.activeUser.name }}</span>
        <span> Since: {{ authService.activeUser.since }}</span>

    </div>
    <div class="users-box-item users-box-air">
        <h3>Your contribution:</h3>
        <span>
            <span class="numOfUserCont">{{ numberOfOffices }}</span> Offices
        </span>
        <span >
            <span class="numOfUserCont">{{ numberOfExpenses }}</span> Expenses
        </span>
        <span (click)='authService.logout()' title="Signout">
            <img src="https://img.icons8.com/officel/100/000000/exit.png">
        </span>
    </div>
    <div class="users-box-item">
        <form [formGroup]='updateForm' (ngSubmit)="updateProfile(updateForm)">
            <label for="name"></label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name">
            <label for="name"></label>
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="email">
            <label for="password"></label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password"
                autocomplete>
            <div class="btn-box">
                <button type="submit" class="btn btn-sm btn-outline-primary" [disabled]='!updateForm.valid'>Update
                    Profile</button>

            </div>
        </form>
    </div>

</div>