<div class="the-wall" *ngIf="!others; else pie">
  <ngx-spinner bdColor="none" size="medium" color="#000" [fullScreen]="false" type="square-jelly-box">
  </ngx-spinner>
</div>

<ng-template #pie>
  <div class="charts-contain">
    <div class="charts-item">
      <div class="data-chart" style="background: rgb(130, 150, 240);">
        <div class="title-box">
          <p>Budget</p>
          <i class="fas fa-coins"></i>
        </div>
        <hr>
        <span>${{ totalAmounts | number: '1.0-0'  }}</span>
      </div>
      <div class="data-chart" style="background: rgb(243, 117, 117)">
        <div class="title-box">
          <p>Year</p>
          <i class="far fa-calendar-alt"></i>
        </div>
        <hr>
        <div class="title-box-arrow">
          <i [style.opacity]='dashboardYear == 2018 || dashboardYear < 2018 ? "0" :"1"' class="fas fa-arrow-left"
            (click)='changeYear()'></i>
          <span>{{ dashboardYear }}</span>
          <i [style.opacity]='dashboardYear == 2020 || dashboardYear > 2020  ? "0" :"1"' class="fas fa-arrow-right"
            (click)='changeYear("future")'></i>
        </div>
      </div>
      <div class="data-chart" style="background: rgb(243, 193, 117)">
        <div class="title-box">
          <p>Growth</p>
          <i class="fas fa-chart-line"></i>
        </div>
        <hr>
        <span>{{ percentageOfGrowth }}%</span>
      </div>
      <div class="str-chart">
        <h2>Expenses</h2>

        <canvas baseChart [data]="doughnutChartData" [colors]="ChartColors" [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType" [options]="doughnutChartOptions">
        </canvas>
      </div>
      <div class="str-chart">
        <h2>Offices</h2>
        <canvas baseChart [data]="amounts" [labels]="offices" [chartType]="pieChartType" [options]="pieChartOptions"
          [plugins]="pieChartPlugins" [colors]="ChartColors" [legend]="pieChartLegend">
        </canvas>
      </div>
      <div class="expenses-box">
        <button *ngFor="let office of officesWithExpensesFiltered; let i = index" [class.active]="selectedIndex === i"
          (click)='getExpensesData(office);setIndex(i)'
          [ngClass]="(changeColorBtnExpenses==true)?'btn-outline-danger':'btn-outline-success'"
          class="btn btn-sm mr-1">{{ office }}</button>
      </div>
      <!-- <fusioncharts width="1000" height="400" type="world" [dataSource]="dataSource">
      </fusioncharts> -->
    </div>
  </div>
</ng-template>