.the-wall {
  position: relative;
  height: 420px;
  width: 1110px;
}

.charts-contain {
  display: flex;
  justify-content: center;
  .charts-item {
    width: 64em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .expenses-box{
      width: 100%;
      padding: 1em;
      height: 65px;
    }
    .data-chart {
      border: 1px solid rgba(255, 255, 255, 0);
      width: 20em;
      height: 12em;
      padding: 1em;
      text-align: center;
      box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      .title-box {
        display: flex;
        justify-content: space-between;
        i {
          color: #fff;
          font-size: 1.3em;
        }
        p {
          color: #fff;
          font-size: 1.3em;
        }
      }
      .title-box-arrow {
        display: flex;
        justify-content: space-between;
        i {
          color: #fff;
          font-size: 1.3em;
          margin: auto 0;
          &:hover {
            cursor: pointer;
          }
        }
      }
      span {
        font-weight: bold;
        color: #fff;
        font-size: 2em;
      }
    }
    fusioncharts {
      margin-top: 2em;
      border-radius: 10px;
    }
    .str-chart {
      width: 32em;
      margin-top: 2em;
      canvas {
        margin: 1em auto;
      }
    }

    .bar {
      width: 900px;
    }
  }
}
