.main {
  display: flex;
  flex-direction: column;
  width: 86%;
  right: 0;
  position: absolute;
  padding: 1em 14em;
  .the-wall {
    position: relative;
    height: 520px;
    width: 100%;
  }
  .charts-contain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    .main-title {
      font-size: 2em;
      display: flex;
      justify-content: flex-end;
      padding: 1.3em;

      p {
        padding: 0 1em;
      }
      .dropdown {
        button {
          border-radius: 0%;
          span {
            font-size: 0.7em;
          }
        }
        .dropdown-menu {
          a {
            color: rgba(0, 0, 0, 0.5);
            span {
              font-size: 0.7em;
            }
            &:hover {
              background: rgba(235, 235, 235, 0.5);
              color: black;
            }
          }
        }
        .dropdown-toggle {
          background: #fff;
          color: black;
          font-size: 0.7em;
          &:hover {
            background: rgba(235, 235, 235, 0.1);
          }
        }
      }
    }
    .charts-item {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .data-chart {
        border: 1px solid rgba(255, 255, 255, 0);
        width: 30em;
        height: 12em;
        padding: 1em;
        text-align: center;
        box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.75);
        background-color: rgba(253, 228, 228, 0.5);
        .title-box {
          display: flex;
          justify-content: space-between;
          img {
            width: 3.5em;
          }
          p {
            color: #1e1e2d;
            font-size: 1.3em;
          }
        }

        span {
          color: #1e1e2d;
          font-size: 2em;
        }
      }
      .str-chart {
        width: 50em;
        margin-top: 2em;
        .alert-dismissible{
          span{
            cursor: pointer;
            text-decoration: underline;
          }
        }
        canvas {
          margin: 1em auto;
        }
      }
    }
  }
}
