.main {
  display: flex;
  flex-direction: column;
  width: 86%;
  right: 0;
  position: absolute;
  padding: 1em;

  .users-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-flow: column wrap;
    align-content: center;
    border: 1px solid white;
    padding: 1em;
    background: #fff;
    box-shadow: 10px 10px 10px -13px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 50%;
    margin: 6em auto 0 auto;

    .users-box-item {
      display: flex;
      flex-direction: column;
      max-height: 562px;
      padding: 2em;
      width: 50%;
      @media (max-width: 415px) {
        padding: 1em;
        width: 100%;
      }

      img {
        width: 2em;
      }

      input {
        padding: 1.5em;
        border-radius: 30px;
      }
      span {
        font-size: 1.1em;
      }
      span:nth-child(3) {
        flex-grow: 1;
        @media (max-width: 400px) {
          margin-bottom: 2em;
        }
      }

      .btn-box {
        padding: 1em 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        button {
          border-radius: 30px;
          padding: 0.5em;
        }
      }
      form {
        input.ng-touched.ng-invalid {
          border: 1px solid #dc3545;
        }
        input.ng-touched.ng-valid {
          border: 1px solid rgba(0, 128, 0, 0.5);
        }
        span {
          font-size: 1em;
          p {
            display: flex;
            justify-content: space-between;
            img {
              width: 1.5em;
            }
          }
        }
      }
    }
    .users-box-air {
      padding: 4em;
      @media (max-width: 415px) {
        padding: 1em;
        h3 {
          font-size: 1.5rem;
        }
      }
      .numOfUserCont {
        font-weight: bold;
        color: #dc3545;
        font-size: 1.1em;
      }
    }
    .user-details-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      span {
        padding: 0.4em;
      }
    }
  }
}
