<div class="main">
    <div class="items-contain">
        <div class="items">
            <div>
                <div *ngIf='wallService.isFinishUpdate || wallService.isFinishUpdateExpense'
                    class="alert alert-primary alert-dismissible fade show">
                    <strong>Success!</strong> The item has successfully edited.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
                </div>
                <div class="cards" *ngFor='let match of wallService.selectedResults'
                    [@selected]="wallService.selectedResults.length === 0">

                    <div class="icons-container">
                        <button class="btn">
                            <img src="https://img.icons8.com/officel/100/000000/edit.png" title="Edit"
                                (click)="onEdit(match.type)"></button>
                        <button class="btn">
                            <img src="https://img.icons8.com/office/100/000000/clear-shopping-cart.png"
                                title="Clear selected" (click)="wallService.clearSelected()"></button>
                        <p class="card-text text-muted added-details">
                            Added {{ match.timeStamp }} by {{ match.userAdded }}</p>
                    </div>
                    <div class="str-chart">
                        <canvas baseChart [data]="wallService.doughnutChartData" [colors]="wallService.chartColors"
                            [labels]="wallService.doughnutChartLabels" [chartType]="wallService.doughnutChartType"
                            [options]="wallService.doughnutChartOptions">
                        </canvas>
                    </div>
                    <div>
                        <h4 *ngIf="wallService.dbKind == 'expenses'" class="card-text font-weight-bold">
                            {{ match.title }}
                        </h4>
                        <h4 *ngIf="wallService.dbKind != 'expenses'" class="card-text font-weight-bold">
                            {{ match.office }}
                        </h4>
                        <h6 class="card-title">${{ match.amount | number }}</h6>
                        <h6 class="card-text ">
                            <span *ngIf="wallService.dbKind == 'expenses'">{{ match.office }}</span>
                            <span *ngIf="wallService.dbKind != 'expenses'">Year:</span> {{ match.year }}
                        </h6>
                    </div>
                </div>
                <edit-office *ngIf='wallService.isEditMode'></edit-office>
                <edit-expense *ngIf='wallService.isEditExpenseMode'></edit-expense>
            </div>
        </div>
    </div>
</div>