<div class="search-wraper">
    <div class="search-box" [ngSwitch]="wallService.searchKey">
        <input type="text" *ngSwitchCase="wallService.searchKey" class="search"
            placeholder="Search by {{ wallService.searchKey }}..." [(ngModel)]="wallService.text"
            (ngModelChange)='wallService.resultsBySearchText(wallService.searchKey)' autofocus>
        <img title='Search by' class="set-img" src="https://img.icons8.com/dotty/100/000000/advanced-search.png"
            (clickOutside)="onClickedOutside()" (click)="onClickSetting()" />
    </div>
</div>
<div class="result-box">
    <p *ngIf='wallService.text.length !== 0 && wallService.resultStack.length === 0' class="alert alert-danger">
        No results containing your search terms
    </p>
    <ul class="list-group mb-1">
        <li *ngFor='let match of wallService.resultStack' (click)='wallService.selectedResult(match)'
            class="list-group-item">
            <img [src]="wallService.dbKind == 'expenses' ?
                                                         'https://img.icons8.com/flat_round/100/000000/add-tag--v2.png' :
                                                          'https://img.icons8.com/flat_round/100/000000/add-file.png'">
            <a>{{ match.title }} <b class="font-weight-bold">{{ match.office }} </b>
                {{ match.year }}</a>
        </li>
    </ul>
</div>
<div *ngIf='isSearchKeyOptionsOpen' class="setting-wraper setting-wraper-s">
    <div class="settings-box">
        <a (click)='changeSearchKey("year")'><img src="https://img.icons8.com/ios/100/000000/time-search.png">
            Year</a>
        <a (click)='changeSearchKey("expense")'><img src="https://img.icons8.com/dotty/100/000000/paid-search.png">
            Expense</a>
        <a (click)='changeSearchKey("ministry")'><img src="https://img.icons8.com/ios/100/000000/window-search.png">
            Ministry</a>
    </div>
</div>