* {
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 300;
}

body {
  background-color:rgb(242, 243, 248);
}

input,
button {
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

button:disabled {
  cursor: not-allowed;
}
