// @import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  font-family: QuattrocentoSans-Regular;
  font-weight: 300;
}

body {
  background-color: rgba(235, 235, 235, 0.7);
}

input,
button {
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
