<hr>
<form [formGroup]='editForm' (ngSubmit)="onUpdate(editForm)">
    <div class="form-group">
        <label for="title"></label>
        <input type="text" class="form-control" formControlName="office">
        <span *ngIf="!editForm.get('office').valid && editForm.get('office').touched">
            <span *ngIf="editForm.get('office').errors['required']" class="form-text">
                Office is required</span>
        </span>
        <label for="amount"></label>
        <input type="number" class="form-control" formControlName="amount">
        <span *ngIf="!editForm.get('amount').valid && editForm.get('amount').touched" class="form-text">
            <span *ngIf="editForm.get('amount').errors['required']" class="form-text">Amount
                is required</span>
            <span *ngIf="editForm.get('amount').errors['min'] || editForm.get('amount').errors['max']"
                class="form-text">
                Must enter amount between 1,000,000 to 10,000,000,000</span>
        </span>
        <label for="years"></label>
        <select class="form-control" formControlName="years">
            <option> </option>
            <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
        <span *ngIf="!editForm.get('years').valid && editForm.get('years').touched" class="form-text">

            <span *ngIf="editForm.get('years').errors['required']" class="form-text">Year
                is required</span></span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-warning btn-sm" (click)='wallService.clearSelected()'>Clear selected</button>
        <div class="icons">
            <button type="submit" class="btn btn-sm" [disabled]="!editForm.valid && !editForm.touched || 
                !editForm.get('amount').valid && editForm.get('amount').touched ||
                 !editForm.get('years').valid && editForm.get('years').touched  || 
                 !editForm.get('office').valid && editForm.get('office').touched">
                 <img src="https://img.icons8.com/dusk/100/000000/approve-and-update.png">
                            </button>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#deleteBtn">
                <img src="https://img.icons8.com/plasticine/100/000000/filled-trash.png">
            </button>
            <button type="button" (click)='wallService.isEditMode = !wallService.isEditMode'
                class="btn btn-outline-secondary btn-sm " data-dismiss="modal">Cancel
            </button>
        </div>
    </div>
    <delete-office></delete-office>
</form>